/*.App {*/
/*    text-align: center;*/
/*}*/

/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/



/*.App-link {*/
/*    color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

body {
    display: flex;
    font-weight: bold;
    font-family: "Helvetica Neue";
    background-color: white;
    position: absolute;
}

body, html, .App, #root, .outer {
    width: 100%;

    font-weight: bold;
}

.navbar-light {
    background-color: #ffffff;
    box-shadow: 1px 2px 5px rgba(90, 91, 153, 0.1);
    top: 0;
    padding-bottom: 15px;
    padding-top: 10px;

}

.container {
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;

    margin-top: 13%;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;

}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;

}

.custom-control-label {
    font-weight: bold;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}
.nav-element{
    padding-top: 2px;
    font-size: x-large;
    letter-spacing: 1px;
margin-left: 20px;
    color: darkblue;
    font-weight: 5;
}
.feed-container {
    margin-left: 20px;
    margin-right: 20px;
}
.post-container{
    width: 1000px;

    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: auto auto 30px;
}
.new-post-buttons{

   float: right;
}
#header-search {
    margin-right: 5px;
}

.search-button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
#search-bar{
    width: 67%;
    border: none;
    outline: none;
    padding: 10px 10px;
margin-left: 25px;
    border-radius: 4px;
    font-size: 20px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: .8; /* Firefox */
}

.author, .time {
    width: 50%;
    float: left;
}

.recent-post-textbox {
    width: 85%;
    margin-right: 7px;
}

.likes-dislikes {
    width: 10%;
    font-size: 10px;
}

.likes, .dislikes, .answers {
    padding-bottom: 10px;
}

.recent-post-textbox, .likes-dislikes {
    float: left;
}

.question {
    text-align: left;
    padding: 8px;
    height: 200px;
    width: 100%;
    border: 0.5px solid rgb(65, 61, 65);
    border-radius: 5px;
}

.tags a {
    color: rgb(65, 61, 65);
    text-decoration: none;
    padding: 2px;
    margin: 7px;
    background-color: lightskyblue;
    border-radius: 1px;
}

.tags a:hover {
    color: lightskyblue;
    background-color: rgb(65, 61, 65);
}

.btn btn-dark btn-block {
    width: 20px;
}

.reply-button, .share-button {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.reply-button {
    padding-right: 5px;
}

.share-button {
    padding-left: 5px;
}
.reply-container{
    width: 600px;
height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: auto auto 30px;
}
.side{
    margin-right: 30px;
}
.flot{
margin-left: 900px;
}
.aler{
    width: 80%;
    margin-left: 220px;

}
.sidenav {
    height: 450px;
margin-top: 20px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-color: ghostwhite;

    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
color: darkslategrey;
    display: block;
    font-weight: 5;
}

.sidenav a:hover {
    color: black;
}
.na{
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 6; /* Stay on top */
width: 100%;
    background-color: #111; /* Black */

}
.fee{
    margin-top: 30px;
}
#indent  {
    margin-left: 20px;
}
.votes{
    width: 63px;
    text-align: center;
}
.date{
    float: right;
}
.linky{
    text-decoration: none;
}