.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    display: flex;
    font-weight: bold;
    font-family: "Helvetica Neue";
    background-color: white;
    position: absolute;
}

body, html, .App, #root, .outer {
    width: 100%;

    font-weight: bold;
}

.navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 40px rgba(90, 91, 153, 0.2);
    margin-bottom: 60px;
}

.container {
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: auto auto 30px;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.custom-control-label {
    font-weight: bold;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}
.nav-element{
    font-size: x-large;
    letter-spacing: 1px;
margin-left: 40px;
}
.feed-container {
    margin-left: 20px;
    margin-right: 20px;
}
.post-container{
    width: 1000px;

    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: auto auto 30px;
}
.new-post-buttons{

   float: right;
}
#header-search {
    margin-right: 5px;
}

.search-button {
    color: white;
    border: none;
    height: 30px;
    vertical-align: center;
    text-align: center;
    background-color: rgb(65, 61, 65);
    border-radius: 3px;
}

.author, .time {
    width: 50%;
    float: left;
}

.recent-post-textbox {
    width: 85%;
    margin-right: 7px;
}

.likes-dislikes {
    width: 10%;
    font-size: 10px;
}

.likes, .dislikes, .answers {
    padding-bottom: 10px;
}

.recent-post-textbox, .likes-dislikes {
    float: left;
}

.question {
    text-align: left;
    padding: 8px;
    height: 200px;
    width: 100%;
    border: 0.5px solid rgb(65, 61, 65);
    border-radius: 5px;
}

.tags a {
    color: rgb(65, 61, 65);
    text-decoration: none;
    padding: 2px;
    margin: 7px;
    background-color: lightskyblue;
    border-radius: 1px;
}

.tags a:hover {
    color: lightskyblue;
    background-color: rgb(65, 61, 65);
}

.btn btn-dark btn-block {
    width: 20px;
}

.reply-button, .share-button {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.reply-button {
    padding-right: 5px;
}

.share-button {
    padding-left: 5px;
}
.reply-container{
    width: 600px;
height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin: auto auto 30px;
}
