* {
  box-sizing: border-box;
}

body {
  min-height: 120vh;
  display: flex;
  font-weight: bold;
  font-family: "Helvetica Neue";
  background: #01080e;
  background: #01080e;
  background: #01080e;

}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(90, 91, 153, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: bold;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  /*color: #7f7d7d;*/
  /*color: #167bff;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: small;
}


